/*公共样式*/
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
/**{*/
    /*box-sizing: border-box;*/
/*}*/
a{
    text-decoration:none;
    color:#fff;
}
img{
    vertical-align:bottom;
}
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    width: 100%;
    height: 100%;
    color:#fff;
    padding-top: 10px;
    background: url("../images/background/body_bg_5.jpg") no-repeat fixed;
    background-size: cover;
    cursor: url("http://127.0.0.1/anime/images/logo/cur.png") auto !important;;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
header,section,nav,footer{
    position: relative;
    width:76%;
    margin:0 auto;.
}
/*响应式布局*/
@media screen and (max-width: 991px){
    header,section,nav,footer{
        width: 100%;
    }
}
/*loading时候的背景*/
#content div.load{
  min-height: 400px;width: 100%;
    text-align: center;
    background: white;
    padding:0;
}
#content div.load img{
    padding-top: 10%;
    width: 20%;
}
/*返回顶部*/
div.toTop-wrapper{
    margin: auto;
    transition: visibility ease .5s;
}
/*消失*/
div.toTop-wrapper.hidden{
    visibility: hidden;
}
div.toTop-wrapper.active #toTop{
    margin-left: 77%;
}
#toTop{
   position: fixed;
    bottom: 20px;
    margin-left: 65%;
    height: 300px;width: 328px;
    background: url("../images/logo/top.png") no-repeat;
    transition: margin 0.5s ease;
    cursor:pointer;
    z-index: 8;
}
/*召唤北方*/
#north{
    position: fixed;
    right: 0;bottom: 0;
    background: #ffffff;
    color: black;
    padding: 1px 4px;
    border: 1px solid red;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#pet{
    width:70px;height:80px;
    position: fixed;
    left:95%;top:83%;
    z-index: 999;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear;
}
#pet a{
    color: #000000;
}
#pet div.chatMenu{
    position: absolute;
    width: 120px;
    display: none;
    left:-180px;
}
div.chatMenu ul{
    line-height: 20px;
    margin-top:15px;
    margin-left: 40px;
}

.chat{
    position: absolute;
    left:-180px;
    height: 30px;
    width: 120px;

}
.chat,#pet div.chatMenu{
    border: 2px solid #74C9E3;
    border-radius: 6px;
    background: rgba(255,255,255,0.7);
    color: #000000;
    padding: 10px;
}
.chat>a{
    position: absolute;
    bottom: 2px;
    right: 10px;
}
.gif{
    right: 25px;
    position: absolute;
    width: 75px;height: 75px;
    background:  url("../images/Little_North/wait.gif") no-repeat;
    background-size: auto;

}
/*响应式*/
@media screen and (max-width: 767px){
    #toTop,#nav>div.lf,#pet,#right-content,canvas{
        display: none;
    }
}
/*选择背景*/
div.modal{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 1000px;
    z-index: 100;
    background: #ffffff;
    padding:10px;
    border-radius: 5px;
    display: none;
}
@media screen  and (max-width: 999px){
    #nav div.modal{
        width: 100%;
    }
}
.modal-header{
    height:40px;
    color:black;
    padding-left:10px;
    line-height: 38px;
    font-size:20px;
    border-bottom: 1px solid #cccccc;
}
/*关闭详细新闻*/
/*button.return{*/
    /*background: #24A9F6;*/
   /*outline: none;*/
    /*border: 1px solid #EC005D;*/
    /*border-radius: 5px;*/
/*}*/
.modal-header button.close{
    float:right;
    padding: 0;
    margin:5px 20px 0 0;
    cursor:pointer;
    background: transparent;
    border:none;
}
div.modal-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    overflow: auto;
    /*max-height:600px;*/
    height: 600px;
}
div.modal-body a{
    padding: 4px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: all 0.25s linear;
    cursor: pointer;
}
div.modal-body a:hover{
    box-shadow: 0 0 2px 1px #1982D1 ;
}
div.modal-body img{
    width: 290px;
    height:200px;

}
/*联系我*/
ul.callme li{
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
ul.callme li:first-child{
    font-size: 1.2em;
}
ul.callme li img{
    width: 80%;
    height: 57px;
    text-align: center;
}
.qq,.wx{
    display: block;
    width: 60px;height: 60px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}
.qq{
    background: url("../images/social/qq.jpg");
    background-size: 100% 100%;
}
.wx{
    background: url("../images/social/wx.jpg");
    background-size: 100% 100%;
}
.qqcode,.wxcode{
    position: absolute;
    width: 130px;height: 140px;
    right: -76px;top: -50%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.qqcode{
    background: url("../images/social/qrcode.jpg");
}
.wxcode{
    background: url("../images/social/mmqrcode.jpg");
}
.qq:hover+.qqcode{
    opacity: 1;
}
.wx:hover+.wxcode{
    opacity: 1;
}
/*音乐播放器*/
#music{
    margin:20px 0;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
#music div.cover img{
    width: 40%; height: 60px;
}
#music h3{
    position: absolute;
    padding: 10px 0;
    left: 0;
    width: 200px;
}
div.control{
    width: 60%;
    position: relative;
    overflow: hidden;
}
div.btnGroup{
    display: flex;
    position: absolute;
    left: 0;top:40px;
    justify-content: space-around;
}
#music u{
    display: inline-block;
    width: 3px;
    height: 16px;
    margin-right: 5px;
}
.cur{
    background: red;
}
#music i{
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    width: 12px;height: 12px;
    background: url("../images/background/glyphicons-halflings.png") no-repeat -192px -72px;
}
#music i.play{
    background-position: -265px -72px;
}
#music i.pause{
    background-position: -288px -72px;
}
#music i.next{
    background-position: -384px -72px;
}
#music i.s_list{
    background-position: -336px -47px;
}
#music li{
    height: 20px;
    line-height: 16px;
    padding: 2px 0;
    cursor: pointer;
}
#music li.de{
    background: #eeeeee;
}
#music li.index{
    background: #cccccc;
}
/*雪花*/
#nav .show{
    border: 1px solid #d58512;
}
/*logo*/
@keyframes scroll {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#logo{
    position: relative;
    z-index: 1;
}
#logo>a{
    display: inline-block;
    border:2px dotted #24A9F6;
    /*width:200px;*/
    /*height:200px;*/
    width: 15%;height:15%;
    border-radius: 50%;
    margin-top:20px;

}
#logo>a>img{
    transform-origin: 50% 50%;
    animation: scroll 15s linear infinite;
    max-width:100%;
}
#logo ul.rt a{
    display: inline-block;
    padding:5px 10px;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000, 0 -2px 2px #000;
}
/*用户点击头像*/
div.private{
    position: absolute;
    right:20px;top:75%;
    z-index: 20;
    background: #FFFFFF;
    cursor: pointer;
    display: none;
    border-radius: 50%;
    transition: transform 0.25s ease-in-out;
}
div.private:hover{
    transform: scale(1.2);
}
 .quit{
    position: absolute;
    padding: 5px;
    padding-left: 20px;
    background: white;
     width: 0;
    bottom:-6px;right:-36px;
    color:black;
     display: none;
}
div.private a{
    display: block;
    width:50px;height:50px;

}
div.private a img{
    width: 100%;height: 100%;
    border-radius:50%;
}
    /*header*/
header{
    z-index: 1;
}
header ul{
    margin-top:16%;
}
header li{
    float:left;
    margin-right:20px;
    background: #24A9F6;
    margin-left:10px;
    border:1px solid transparent;
    border-radius: 5px;
}
/*导航*/
nav:after{
    content:"";
    display: table;
    clear: both;
}
nav{
    z-index: 20;
    margin-top:20px;
}
nav>ul>li{
    float:left;
}
nav div.lf{
    display: flex;
}
/*button*/
nav div.lf>button,div.view>button{;
    cursor: pointer;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-right-color: transparent;
    outline: none;
    background: linear-gradient(to bottom,#fff,#e6e6e6);
}
nav div.lf i,div.view>button i{
    display: block;
    width: 12px;height: 12px;
}
nav div.lf i.chgBg{
    /*12 12  51 457*/

    background:url("../images/background/glyphicons-halflings.png") no-repeat -457px -49px;
}
nav div.lf i.snow{
    /*12 12  51 457*/
    background:url("../images/background/glyphicons-halflings.png") no-repeat -457px -96px;
}
nav ul.rt>li{
    position: relative;
    border-radius: 5px;
    border:1px solid transparent;
}
nav ul.rt>li a{
    display: inline-block;
    padding:5px 10px;
    color:#F6F6F6;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000, 0 -2px 2px #000;
}
ul.rt>li:hover{
    background: #eeeeee;
    border:1px solid #cccccc;
}
ul.rt>li.active{
    background: #24A9F6;
    border:1px solid #cccccc;
}
/*ul.drop{*/
    /*display: none;*/
    /*width: 92.28px;*/
    /*left: -1px;*/
    /*position: absolute;*/
    /*z-index: 999;*/
    /*background: #eeeeee;*/
    /*border:1px solid #cccccc;*/
    /*border-top:none;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
/*}*/
.divider{
    display: none;
    height:1px;
    background: #ddd;
}
/*ul.drop li{*/
    /*line-height: 35px;*/
    /*padding-left:10px;*/
    /*transition:all 0.5s ease;*/
/*}*/
/*ul.drop li a{*/
    /*display: inline-block;*/
    /*width: 92px;*/
/*}*/
/*ul.drop li:hover{*/
    /*padding-left:30px;*/
    /*color:#fff;*/

/*}*/
/*li:hover>ul.drop{*/
    /*display: block;*/
/*}*/
/*主要内容*/
section:after{
    content:"";
    display: block;
    clear:both;
}
section{
    height: 100%;
    color:black;
    margin-top:10px;
    position: relative;
    background: #EFEEEF;
    z-index: 10;
}
section>h3{
    background: linear-gradient(#ccc,#FFFFFF);
    height:30px;
    border-bottom:2px solid #cccccc;
    line-height:30px;
    display: flex;
    justify-content: center;
    color:red;
}
section>h3 a{
    padding: 0 15px;
    color: #24A9F6;
    font-weight: 400;
}
section>h3 a:hover{
    background: #ddd6cf;
}
/*左边内容导航*/
section>h3 a.active{
    background: #FFFFFF;
    color:orangered;
}
section div.rt{
    width:20%;
}
/*查看*/
div.view{
    display: flex;
    padding: 10px 5px;
}
div.view span{
    display: inline-block;
    padding: 2px 4px;
    background: #cccccc;
    border-radius: 5px;
    margin-right: 10px;
    line-height: 22px;
}
/*右侧点击显示不同样式按钮*/
div.view button:hover{
    background:#eeeeee;
}
div.view button.current{

    background:#eeeeee;
}
div.view button>i.one,i.two,i.img{
    background: url("../images/background/glyphicons-halflings.png") no-repeat -265px 0;
}
i.two{
    background-position: -217px 0;
}
i.img{
    background-position: -456px -50px;
}
.first{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.last{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
div.content:after{
    display: block;
    content: "";
    clear: both;
}
/**/
div.content{
    border-radius: 5px;

}
#content{
    width:80%;
}
/*预览图*/
div.imgPreview{
    position: fixed;
    z-index: 1000;
    left: 106px;
    top: 0;
    display: none;
}
div.imgPreview img{
    max-width: 500px;
    max-height: 500px;
    border: 2px solid;
}
/*分页*/
#pager{
    padding:20px;
    text-align: center;
    clear: both;
}
#pager a{
    display: inline-block;
    cursor:pointer;
    padding:0 6px;
    font-size: 0.5em;
    border-radius: 5px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
#pager a:hover{
    color: #333;
    background: #cccccc;
    transition: all 0.1s linear;
}
#pager a.disabled{
    cursor: default;
    color: #333;
    background: #cccccc;
}
#pager input{
    display: inline-block;
   width: 2em;height: 1em;
    padding:2px 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s,box-shadow linear .2s;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
}

     /*雪花*/
 #canvas{
     position:fixed;
     width: 1366px; height:728px;
     left: 0;top:0;
     z-index: -10;
 }
 /*视频背景*/
#video{
    position: fixed;
    width: 1400px;
    left: 0;top:0;
    z-index: -11;
}
#footer{
    min-height: 150px;
    z-index: 10;
    background: linear-gradient(to bottom,#ccc 0,#FFFFFF);
}
footer{
    box-sizing: border-box;
    padding: 10px;
}
footer p{
    color:black;
}