/*公共样式*/
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
    color:#fff;
}
img{
    vertical-align:bottom;
}
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    width: 100%;
    color:#fff;
    padding-top: 10px;
    background: url("../images/background/body_bg_00.jpg") no-repeat fixed;
    background-size: cover;
}
/*召唤北方*/
#north{
    position: fixed;
    right: 0;bottom: 0;
    background: #ffffff;
    color: black;
    padding: 1px 4px;
    border: 1px solid red;
    cursor: pointer;
    display: none;
}
#pet{
    width:70px;height:80px;
    position: fixed;
    left:91%;top:70%;
    z-index: 999;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear;
}
#pet a{
    color: #000000;
}
#pet div.chatMenu{
    position: absolute;
    width: 120px;
    display: none;
    left:-180px;
}
div.chatMenu ul{
    line-height: 20px;
    margin-top:15px;
    margin-left: 40px;
}

.chat{
    position: absolute;
    left:-180px;
    height: 30px;
    width: 120px;

}
.chat,#pet div.chatMenu{
    border: 2px solid #74C9E3;
    border-radius: 6px;
    background: rgba(255,255,255,0.7);
    color: #000000;
    padding: 10px;
}
.chat>a{
    position: absolute;
    bottom: 2px;
    right: 10px;
}
.gif{
    right: 0;
    position: absolute;
    width: 120px;height: 150px;
    background:  url("../images/Little_North/wait.gif") no-repeat;
    background-size: auto;

}